.container {
  position: relative;
  min-height: 100vh;
  background: var(--bg-secondary);
}
.middle {
  background: unset;
  margin-top: 75px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1175px) {
  .middle {
    margin-left: 5%;
  }
}

@media (max-width: 1050px) {
  .middle {
    position: relative;
    margin-left: 55px;
  }
}
