.container {
  position: relative;
}
.card {
  position: absolute;
  top: 70px;
  width: 500px;
  height: 500px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
