.container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}
.linkItemText p {
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--color-primary);
}
.linkItemText span {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: var(--blue-color);
}
.linkItemText span::before {
  content: '•';
  margin-right: 5px;
  font-size: 1.5rem;
}
.container:hover {
  background-color: var(--bg-forth);
}

@media (max-width: 1050px) {
  .linkItemText p {
    display: none;
  }
  .linkItemText span {
    display: none;
  }
  .container {
    background: var(--bg-third);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
}
