.container {
  position: fixed;
  top: 70px;
  left: 6px;
  width: 300px;
  max-height: 100vh;
  overflow-y: auto;
  color: var(--color-primary);
  padding: 15px 0px;
  padding-bottom: 5rem;
  user-select: none;
}
.profile {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.profile p {
  font-size: 1.1rem;
  font-weight: 700;
}
.profile:hover {
  background-color: var(--bg-forth);
}
.arrow {
  padding: 5px;
  background-color: var(--bg-forth);
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.rotate180 {
  transform: rotate(180deg);
}
