.container {
  position: fixed;
  top: 70px;
  left: 6px;
  width: 15vw;
  max-height: 100vh;
  overflow-y: auto;
  color: var(--color-primary);
  padding: 15px 0px;
  padding-bottom: 5rem;
  user-select: none;
}
.profile {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
.profile p {
  font-size: 1.1rem;
  font-weight: 700;
}
.profile:hover {
  background-color: var(--bg-forth);
}
.arrow {
  padding: 5px;
  background-color: var(--bg-forth);
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.rotate180 {
  transform: rotate(180deg);
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(233, 232, 232);
  border-radius: 10px;
}
.shortcutHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}
.shortcutHeader p {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-secondary);
  padding: 13px 10px 11px 10px;
  cursor: pointer;
}
.shortcutHeader:hover .editBtn {
  display: block;
}
.shortcutHeader .editBtn {
  font-size: 14px;
  color: var(--blue-color);
  display: none;
  cursor: pointer;
}
.footer {
  font-size: 14px;
  color: var(--color-secondary);
  cursor: pointer;
  padding: 10px;
}

@media (max-width: 1050px) {
  .profile p {
    display: none;
  }
  hr {
    display: none;
  }
  .shortcutHeader {
    display: none;
  }
  footer {
    display: none;
  }
  .profile {
    background: var(--bg-third);
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: grid;
    place-items: center;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}
