header {
  position: fixed;
  top: 0;
  background-color: var(--bg-primary);
  width: 100%;
  box-shadow: 1px 8px 15px -7px var(--shadow-2);
  display: grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  color: var(--color-primary);
  padding: 0.5rem 0;
}
.headerLeft {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  gap: 10px;
}
.search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  background: var(--bg-forth);
  border-radius: 50px;
  height: 2.5rem;
  gap: 5px;
}
.search input {
  background-color: transparent;
  outline: none;
  width: 100%;
  height: 100%;
  border: none;
}
.search input:focus {
  border: none !important;
  outline: none !important;
}
.headerMiddle {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: space-between;
}
.middleIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
}
.active {
  border-bottom: 3px solid var(--blue-color);
}
.middleIcon:hover {
  background-color: var(--bg-forth);
}
.watch {
  position: relative;
}
.watchNotification {
  position: absolute;
  top: 3px;
  left: 1.9rem;
  background: #e41e3f;
  border-radius: 50px;
  padding: 1px 5px;
  font-size: 13px;
  color: #fff;
}
.headerRight {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: flex-end;
  padding: 0 1rem;
}
.profile {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0.2rem 0.5rem;
}
.profile:hover {
  background-color: var(--bg-third);
  border-radius: 50px;
}
.profile span {
  font-size: 1.2rem;
  font-weight: 600;
}
.image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.headerRightIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--bg-forth);
}
.headerRightIcon:hover {
  background-color: var(--bg-third);
}
.notification {
  position: relative;
}
.notificationCount {
  position: absolute;
  top: -5px;
  left: 1.3rem;
  background: #e41e3f;
  border-radius: 50px;
  padding: 1px 5px;
  font-size: 13px;
  color: #fff;
}
