.modalHeader {
  display: flex;
  justify-content: space-between;
}
.closeBtn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.5rem;
}
.hr {
  border: 1px solid var(--border-color);
  margin: 1rem 0;
}
.modalBody {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modalBody .active {
  font-weight: 600;
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background: var(--primary-color);
  border: 2px solid var(--blue-color);
  color: var(--blue-color);
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.modalBody .active:hover {
  opacity: 0.9;
}
.modalBody .resend {
  font-weight: 600;
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  background: var(--blue-color);
  border: 2px solid var(--blue-color);
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
}
.resend:hover {
  opacity: 0.9;
}
.active:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.resend:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
