.container {
}
.profile {
  margin-top: 60px;
  box-shadow: 0 1px 2px var(--shadow-1);
  /* background: var(--bg-secondary); */
}
.profileContainer {
  max-width: 945px;
  margin: 0 auto;
}
.profile_bottom {
  margin-top: 1px;
  background: var(--bg-secondary);
}
.bottom_container {
  padding: 10px 2.2rem;
}
.profile_grid {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 10px;
}
.profile_right {
  margin-top: 10px;
}
.no_posts {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  color: var(--color-secondary);
}
.posts {
  margin-top: 1rem;
  width: 100%;
}
.relative_fb_copyright {
  position: relative;
  width: 97%;
  margin-top: 2rem;
  font-size: 12px;
  color: var(--color-secondary);
}

@media (max-width: 900px) {
  .profile_grid {
    grid-template-columns: 1fr;
    width: 95%;
  }
}
